{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}
        
    {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="wrapper">
    <header>
        <u><a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/blogs">Blogs</a></u>
    </header>
    <main>
    {% block content %}
        
    {% endblock content %}
    </main>
    <footer>
        Copyright Avinash
    </footer>
    </div>
</body>
</html>